
.navigation {
  display: flexbox;
  flex-direction: row;
  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0;
  top: 0;
  background: #3e3c3c;
}

.hamIcon {
  color: #acb7c3;
  position: absolute;
  left: 90.67%;
  right: 16.67%;
  top: 3%;
  cursor: pointer;

  :hover {
    color: #fff;
  }
}

.myLogo {
  position: absolute;
  height: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  align-items: flex-start;
  text-align: center;
  color: #fff;
  top: 10%;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 566px;
  height: 739px;
  left: 143px;
  top: 72px;
}

.main {
  position: absolute;
  width: 1440px;
  height: 870px;
  left: 0;
  top: 8%;
  background: #1c1a19;
}

.heading-1 {
  width: 566px;
  height: 160px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  left: 15%;
  color: #f55800;
}

.heading-2 {
  width: 566px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.content-1 {
  width: 566px;
  height: 123px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.vector-in {
  background-image: url(Group.png);
  position: absolute;
  width: 634.13px;
  height: 769.27px;
  top: 1%;
  left: 805px;
}

.icons-container {
  position: absolute;
  width: 20px;
  height: 98.96px;
  left: 2.5%;
  right: 96.25%;
  top: 244px;
  bottom: 91.87%;
  color: #fff;
  cursor: pointer;

  :hover {
    color: #f55800;
  }
}
