* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 12px;
  height: 92px;
  left: 0;
  top: 0;
  background: #3c3a39;
}

.myLogo {
  order: 1;
  color: white;
  text-decoration: none;
}

.hamIcon {
  order: 2;
  color: white;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 0 340px 0;
  gap: 12px;
  position: absolute;
  width: 100%;
  top: 90px;
  background: #1c1a19;
  background-image: url('./Group.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: 100%;
  background-position-y: 85%;
}

.heading-1 {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  padding: 0 0 0 24px;
}

.heading-2 {
  width: 327px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  padding: 0 0 0 24px;
}

.content {
  width: 327px;
  height: 123px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  padding: 0 0 0 24px;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 40px;
  flex: none;
  order: 3;
  flex-grow: 0;
  color: #fff;
  padding: 0 0 0 24px;
}

.i-github {
  cursor: pointer;

  :hover {
    color: #ff6b00;
  }
}

.i-linkedin {
  cursor: pointer;

  :hover {
    color: #ff6b00;
  }
}

.i-twitter {
  cursor: pointer;

  :hover {
    color: #ff6b00;
  }
}

.i-instagram {
  cursor: pointer;

  :hover {
    color: #ff6b00;
  }
}

.i-facebook {
  cursor: pointer;

  :hover {
    color: #ff6b00;
  }
}

.vector-in {
  background-image: url(./Group.svg);
  position: absolute;
  left: 39.57%;
  right: 30.52%;
  top: 7.59%;
  bottom: 0;
  width: 500px;
  background-repeat: no-repeat;
}


/* rest of section */

.recent-works-container {
 margin-top: 900px;
 position: absolute;
 margin-left: 15px;
}

.rw-heading{
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  border-bottom: 1px solid #212121;
}

.rw-image1{
  margin: 50px 0 20px 10px;
}

.rw-multi-st-text{
  width: 327px;
  height: 147px;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091E42;

}

.rw-button{
  background-color: #fff;
  padding: 8px;
  border: 1px solid #8993A4
}

.rw-button1{
  margin-top: 10px;
  background-color: #FF6B00;
  padding-inline: 10px;
  padding: 8px;
  color:#fff;
  border: 1px solid #8993A4;
}

.rw-p-art-data{
  margin-top: 30px;
  padding-inline-start: 30px;
  padding-inline-end: 25px;
  padding-top: 50px; 
  background-image:url('./ImgPlaceholder.svg');
  width:280px;
  height: 280px;
}


.rw-p-art-data > h3{
  width: 295px;
  height: 81px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
  
}

.rw-p-art-data p{
  width: 301px;
height: 99px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}


.rw-button-pr {
  padding: 10px;
  background: rgba(255, 255, 255, 0.24);
  margin-right: 10px;
  border:none;
  outline: none;
}

.rw-button-pr1 {
  padding: 10px;
  background: #FF6B00;
  color: white;
  width: 97%;
  border:none;
  outline: none;
  margin-bottom: 15px;
}

/* footer half of page */

.b-page{
  position: absolute;
  width: 375px;
  height: 1801px;
  left: 0px;
  top: 4137px;
  background: #1C1A19;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 17%;
  background-image: url('./Group3.svg');
}

.b-p-form{
    margin-top: 100px;
    background: transparent;
    margin-left: 15px;
    border-bottom: 1px solid gray;
    background-size: 50%;
   
  }

  .b-p-form > h2 {
    width: 327px;
    height: 79px;
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.37px;
    color: #FF6B00;
  }

  .b-p-form > p {
    width: 327px;
  height: 148px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #F4F5F7;
  }

  .b-p-form > input {
    padding: 10px;
    color: #fff;
    background-color: #ff6b00;
    margin-bottom: 156px;
    border: none;
    outline: none;
  }

  .b-page-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 24px 38px;
    gap: 24px;
    width: 329px;
    left: calc(50% - 329px/2);
 
  }

  
  .icon2 {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #FF6B00;
    transform: rotate(-45deg);
    text-align: center;
    margin-right: 10px;
    vertical-align: middle;
    line-height: 30px;
  }

  .icon3{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #FF6B00;
    text-align: center;
    margin-right: 10px;
    vertical-align: middle;
    line-height: 30px;
  }

  .icon4{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #FF6B00;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    vertical-align: middle;
    line-height: 30px;
  }

  
  h2 {
    display: inline-block;
    font-size: 24px;
    margin: 0;
    vertical-align: middle;
    font-family: 'InaiMathi', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    color:#FFFFFF;
  }
  
  
  .text-container{
    display: flex;
  flex-direction: column;
  align-items: center;
  padding: -8px 12px 0px 15px;
  gap: 8px;
  height: 216px;
  order: 1;
  }

.text-container > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
 line-height: 32px;
}  

.btn {
  transition: border 1.5s, background-color 1.5s;
}

.btn:hover {
  border: 1px solid #ff6b00;
  background-color: #fff5e1;
}
