* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

h1,
h3 {
  font-family: "Crete Round", serif;
}

ul {
  display: flex;
  align-items: center;
}

.mp-btn {
  width: 7.75rem;
}

.btn {
  background-color: #ff6b00;
  border: 1px solid #ff6b00;
  font-family: "Inter", sans-serif;
  padding: 0.75rem;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.5;
  transition: background-color 2s, color 2s, border 2s;
}

.btn:hover {
  color: #ff6b00;
  border: 1px solid #ff6b00;
  background-color: #fff5e1;
  cursor: pointer;
}

.btn:focus {
  background-color: #e05304;
  color: #fff;
}

.btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.works-btn {
  width: inherit;
}

.about-btn {
  margin: 1.5rem 0 13rem;
}

.header {
  display: flex;
  background-color: #3c3a39;
  color: #fff;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
}

.header > a,
.hero-text > h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.header > a {
  font-size: 18px;
}

.mobile-nav a {
  color: #fff5e1;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 2;
  padding-left: 1rem;
}

.socials :hover {
  background: #e05304;
}

.mobile-nav > li :hover {
  color: #e05304;
  font-size: 34px;
}

.nav-list > li > a {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  margin: 0 1rem;
  align-items: center;
}

.nav-list {
  align-items: center;
}


.cancel-icon {
  float: right;
}

.mobile-nav {
  display: block;
  padding-top: 2.1rem;
}

.mobile-nav li {
  border-bottom: 1px solid #6f6c6b;
}

.icon {
  width: 1.1rem;
  cursor: pointer;
}

.popup-section {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  overflow: auto;
  background-color: #979493d2;
}

.modal {
  background-color: #fff;
  margin: 3rem auto;
  padding: 1.5rem 1rem;
  width: 21rem;
}

.modal > img {
  float: right;
}

.modal > h3 {
  color: #172b4d;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}

.modal > ul > li {
  border: 1px solid #8993a4;
  padding: 0.6rem;
  font-family: 'Inter', sans-serif;
  margin: 1.5rem 0.5rem 1.5rem 0;
}

.modal > section > article > div {
  display: flex;
  justify-content: space-between;
}

.modal > section > article > div > button {
  background-repeat: no-repeat;
  background-position: 90% 50%;
  padding: 0.7rem 2.2rem 0.7rem 1.2rem;
  margin-top: 1rem;
}

.modal > section > article > div > button:nth-child(1) {
  background-image: url(./assets/icons/live-icon.svg);
}

.modal > section > article > div > button:nth-child(2) {
  background-image: url(./assets/icons/source-icon.svg);
}

.modal > section > article > div > button > a {
  color: #fff;
}

.contact-section > div > p {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  line-height: 1.5;
  color: #172b4d;
}

.modal > section > article > p {
  color: #344563;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.modal > section > div > img {
  width: 100%;
}

.contact-section {
  display: flex;
  flex-direction: column;
  margin: 4.3rem auto;
  width: 20.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
}

.name,
.first-name,
.last-name,
.email {
  padding: 1rem;
  margin-top: 0.9rem;
  border: 0;
  border-bottom: 1px solid #dbd8d7;
}

.name,
.email {
  width: 100%;
}

.comment {
  margin: 0.9rem 0 0.9rem 0;
  padding: 1rem;
  width: 100%;
  border: none;
  background-color: #fbf8f7;
}

.comment::placeholder {
  font-style: italic;
}

.error {
  color: red;
  font-family: 'Inter', sans-serif;
  padding-bottom: 0.5rem;
}

.footer-hr {
  margin: 0;
}

.footer-socials {
  justify-content: center;
  padding: 1.5rem 0 2.9rem 0;
  gap: 1.3rem;
}

@media (min-width: 375px) {
  .mobile-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #3c3a39;
    padding: 2.1rem 1.5rem;
  }
  
  .hero-section {
    background: #1c1a19 url(./assets/icons/Group.png) 100% 115% no-repeat;
    background-size: 8.5rem;
    padding: 7rem 1.5rem 8rem 1.5rem;
  }

  .hero-text {
    width: fit-content;
    max-width: 30rem;
  }

  .hero-text > h1 {
    color: #ff6b00;
    font-size: 56px;
    font-weight: 400;
  }

  .header > a,
  .hero-text > h2,
  .hero-text > p {
    color: #fff;
  }

  .hero-text > p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-top: 0.3rem;
  }

  .socials {
    margin: 1rem;
    gap: 1.3rem;
  }

  .mp-head > h3 {
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    margin: 6.5rem 0 3.2rem 0;
  }

  hr {
    margin: 0 1.5rem 3.2rem 1.5rem;
  }

  .mp-head > div > hr {
    border: 1px solid #212121;
  }

  .mp-sec p,
  .mp-sec li,
  .works-section li,
  .works-section p,
  button,
  .about-section p,
  .about-section li,
  .about-list h3 {
    font-family: "Inter", sans-serif;
  }

  .mp-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50rem;
    margin: 5rem 1.15rem 0;
  }

  .mp-sec-img {
    max-width: 42.7rem;
  }

  .mp-sec img {
    width: 100%;
  }

  .mp-article p,
  .heading {
    line-height: 1.5;
    font-weight: 400;
  }

  .mp-article p {
    font-size: 16px;
  }

  .mp-list,
  .works-item-list {
    gap: 0.75rem;
    margin: 0.75rem 0;
  }

  .mp-list > li {
    border: 1px solid #8993a4;
  }

  .mp-list > li,
  .works-item-list > li {
    padding: 0.6rem;
  }

  .works-item {
    background: url(./assets/images/wrk-bg-img.svg) no-repeat;
    width: 20.4rem;
  }

  .works-item > article {
    padding: 4.5rem 1rem 0;
    width: 20.4rem;
    color: #fff;
  }

  .works-item-list {
    margin: 0.75rem 0 1.8rem 0;
  }

  .works-item-list > li {
    background: rgba(255, 255, 255, 0.24);
  }

  .works-section {
    display: grid;
    width: fit-content;
    max-width: 72.2rem;
    margin: 1.5rem auto 7.5rem;
    gap: 1.5rem;
  }

  .heading {
    font-size: 32px;
    margin-bottom: 0.75rem;
    font-family: "Crete round", serif;
  }

  .about-section {
    background: #1c1a19 url(./assets//images/abt-bg-img.svg) 100% 25% no-repeat;
    padding-bottom: 5.4rem;
    height: 112rem;
  }

  .about-section p,
  .about-section li,
  .about-section h3 {
    color: #f4f5f7;
  }

  .about-list h3 {
    margin-bottom: 2rem;
  }

  .language > h3 {
    background: url(./assets/icons/rect.svg) 2rem 50% no-repeat;
  }

  .framework > h3 {
    background: url(./assets/icons/square.svg) 2rem 50% no-repeat;
  }

  .skills > h3 {
    background: url(./assets/icons/circle.svg) 5rem 50% no-repeat;
  }

  .about-section > article > h3 {
    color: #ff6b00;
    font-size: 72px;
    font-weight: 400;
  }

  .about-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8.5rem;
    text-align: center;
  }

  .about-details {
    margin: 0 1.5rem;
  }

  .about-section > .about-details > h3 {
    padding: 7.5rem 0 1.5rem 0;
  }

  .about-details > p {
    line-height: 1.5;
  }

  .about-list > div,
  .about-details {
    max-width: 26rem;
    min-width: 20rem;
  }

  .about-list > div > ul {
    flex-direction: column;
  }

  .about-list > div > ul > li {
    margin-bottom: 2rem;
  }

  fieldset,
  .nav-list {
    display: none;
  }
}

@media (min-width: 768px) {
  .icon,
  .mobile-menu{
    display:none;
  }


  .mp-head > h3 {
    margin: 3rem 0 3.2rem 0;
    width: calc(100% - 70%);
    font-size: 28px;
  }

  .mp-head {
    display: flex;
    align-items: center;
    margin: 8.4rem auto 2rem;
    width: 98%;
  }

  .header {
    padding: 1rem 6rem;
  }

  .icon,
  .mobile-menu {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .main-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 1rem;
  }

  .hero-text {
    width: 25rem;
  }

  .hero-text > h2 {
    margin-bottom: 1rem;
  }

  .hero-section {
    padding-left: 1rem;
    background-image: url(./assets/icons/Group2.png);
    background-size: 20rem;
    background-position: 100% 25%;
  }

  .socials {
    flex-direction: column;
    justify-content: center;
    padding-right: 0.5rem;
  }

  .mp-head > div {
    padding-top: 3.5rem;
    width: 70%;
  }

  .mp-sec {
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
    max-width: 70.25rem;
    margin: auto;
    padding: 0 1.5rem;
  }

  .mp-sec-img {
    width: 59.2%;
  }

  .mp-article {
    width: 28rem;
  }

  .works-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .works-item {
    background: url(./assets/images/Img\ Placeholder.svg) no-repeat;
    width: 23rem;
  }

  .works-item > article {
    width: inherit;
    padding-top: 11.1rem;
  }

  .about-section {
    height: fit-content;
    background: #1c1a19 url(./assets//images/abt-desk-img.svg) 100% 28% no-repeat;
    background-size: 28rem;
  }

  .about-section > hr,
  .about-list {
    max-width: 46rem;
    margin: auto;
  }

  .about-details {
    max-width: 35rem;
    margin-left: 5rem;
  }

  .about-details > p {
    font-size: 20px;
  }

  .about-list {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    margin-top: 9.1rem;
    flex-wrap: wrap;
  }

  .heading {
    font-size: 32px;
    margin: 0;
  }

  .modal {
    width: 42rem;
    margin-top: 1rem;
  }

  .modal > section {
    display: flex;
    gap: 1.5rem;
  }

  .contact-section > div,
  .form {
    width: 50%;
  }

  .modal > section > div {
    width: 50%;
  }

  .modal > section > article {
    width: 50%;
  }

  .modal > section > article > div {
    display: block;
  }

  .modal > section > article > div > button {
    margin: 2rem 0.2rem 0;
  }

  .about-list > div > ul > li {
    font-size: 22px;
  }

  .contact-section {
    flex-direction: row;
    align-items: start;
    margin: 8.1rem auto 9.6rem;
    gap: 1.5rem;
    width: 43.75rem;
    text-align: left;
  }

  .contact-section > div > p {
    text-align: left;
  }

  .form {
    margin-top: 0;
  }

  .first-name,
  .last-name {
    display: inline;
    width: 50%;
  }

  .name {
    display: none;
  }

  .form-button {
    margin-left: 0;
  }

  fieldset {
    display: flex;
    width: 100%;
    border: none;
    gap: 1.5rem;
  }
}

@media (min-width: 992px) {

  .icon, 
  .mobile-menu{
    display:none;
  }

  .header {
    padding: 1rem 8rem;
  }

  .main-container {
    gap: 3rem;
  }

  .hero-section {
    padding: 12rem 1rem 15.6rem;
    background-size: 33rem;
    background-position-y: -3rem;
  }

  .hero-text {
    width: 35.3rem;
  }

  .hero-text > h1 {
    font-size: 72px;
  }

  .hero-text > h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.5;
  }

  .hero-text > p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 32px;
  }

  .modal {
    width: 60rem;
  }

  .contact-section > div {
    width: 40%;
  }

  .modal > section > div {
    width: 60%;
  }

  .modal > section > article {
    width: 40%;
  }

  .modal > section > article > p {
    line-height: 2.5;
  }

  .modal > section > article > div > button {
    margin: 3.3rem 0.6rem 0;
  }

  .mp-head > h3 {
    font-size: 35px;
  }

  .works-section {
    margin-bottom: 8.1rem;
  }

  .about-details {
    margin-left: 7rem;
  }

  .about-section > hr,
  .about-list {
    max-width: 60.25rem;
  }

  .contact-section {
    width: 56.3rem;
  }

  .form {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 72.25rem;
  }

  .mp-head > h3 {
    font-size: 40px;
  }

  .works-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-section {
    background-position: 100% 20%;
    background-size: auto;
  }

  .about-section > hr,
  .about-list {
    max-width: 72.25rem;
  }
}
